<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAnneeUniversitaireLabel" jhiTranslate="mathFinEcoUniversityApp.anneeUniversitaire.home.createOrEditLabel">Create or edit a Annee Universitaire</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!anneeUniversitaire.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="anneeUniversitaire.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mathFinEcoUniversityApp.anneeUniversitaire.annees" for="field_annees">Annees</label>
            <input type="text" class="form-control" name="annees" id="field_annees"
                [(ngModel)]="anneeUniversitaire.annees" required />
            <div [hidden]="!(editForm.controls.annees?.dirty && editForm.controls.annees?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.annees?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="mathFinEcoUniversityApp.anneeUniversitaire.etudiant" for="field_etudiant">Etudiant</label>
            <select class="form-control" id="field_etudiant" name="etudiant" [(ngModel)]="anneeUniversitaire.etudiant" >
                <option [ngValue]="null"></option>
                <option [ngValue]="etudiantOption.id === anneeUniversitaire.etudiant?.id ? anneeUniversitaire.etudiant : etudiantOption" *ngFor="let etudiantOption of etudiants; trackBy: trackEtudiantById">{{etudiantOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="mathFinEcoUniversityApp.anneeUniversitaire.enseignant" for="field_enseignant">Enseignant</label>
            <select class="form-control" id="field_enseignant" name="enseignant" [(ngModel)]="anneeUniversitaire.enseignant" >
                <option [ngValue]="null"></option>
                <option [ngValue]="enseignantOption.id === anneeUniversitaire.enseignant?.id ? anneeUniversitaire.enseignant : enseignantOption" *ngFor="let enseignantOption of enseignants; trackBy: trackEnseignantById">{{enseignantOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
